<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Security - Password recovery - Change password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../styles/password-reset-change.css">
  <script src="password-recover.js" async></script>
</head>

<body>
  <div class="main-enclosing-box">
    <div class="password-input-layout div-profile-edit-password">
      <h4> Update Password</h4>
      <div id="recover-change-password-form">
        <div class="form-group">
          <label for="change-password-box-one">Enter a new password:</label>
          <input type="password" class="form-control" name="pwdone" id="change-password-box-one" placeholder="Password"
            required>
        </div>
        <div class="form-group">
          <label for="change-password-box-two">Confirm new password:</label>
          <input type="password" class="form-control" name="pwdtwo" id="change-password-box-two"
            placeholder="Confirm New Password" required>
        </div>
        <div class="form-group">
          <button type="button" id="recover-password-submit-button"
            class="form-control btn btn-primary submit-button">Update</button>
        </div>
      </div>
      <div id="change-password-error">
        <p class="lead change-password-error-message" id="change-password-error-message"></p>
        <p class="lead change-password-success-message" id="change-password-success-message"></p>
      </div>
      <div>
        <p class="invisible-data-tag" id="recovery-hash" data-recoveryhash=<%= recoveryHash %>></p>
        <p class="invisible-data-tag" id="email-hash" data-emailhash=<%= emailHash %>></p>
      </div>
      <div class="login-headlines-back-link">
        <div>
          <p class="lead"><a href="/login">Log in</a></p>
        </div>
        <div>
          <p class="lead"><a href="/headlines">headlines </a></p>
        </div>
        <div>
          <p class="lead"><a href="/">Home </a></p>
        </div>
      </div>
    </div>
  </div>
</body>
