<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log in</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="../styles/password-reset-success.css">
</head>

<body>
  <div class="main-enclosing-box">
    <% if (successMessage !== null) { %>
    <div class="password-reset-success-message">
      <p class="lead"> <%= successMessage %> </p>
    </div>
    <% } %>
    <% if (failMessage !== null) { %>
    <div class="password-reset-fail-message">
      <p class="lead"> <%= failMessage %></p>
    </div>
    <% } %>
    <div>
      <p class="lead"><a href="/login">Log in</a></p>
    </div>
    <div>
      <p class="lead"><a href="/headlines">Headlines </a></p>
    </div>
    <div>
      <p class="lead"><a href="/">Home </a></p>
    </div>
  </div>
</body>
