<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Select Topics</title>
</head>
<body>
	<header>
		<div>
			<a class="lead"> <%= email %> </a>
		</div>
	</header>
	<div class="jumbotron">
		<p class="h2"> Select your topics </p>
	</div>
	<div id="select-topics-popular-topics-div">
		<!-- Enclosure for check boxes that include popular topics ---->
		<div class="input-group-text">
			<input type="checkbox" aria-label="Checkbox for following text input">
		</div>
	</div>
</body>
</html>