<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/../styles/homemain.css">
  <link rel="stylesheet" href="/../styles/newsarticles.css">
  <script src="topics.js"></script>
  <title>My Topics</title>
</head>
<body>
  <head>
      <%- include('./partials/_login_header', { logged_in: logged_in, uId: uId }); %>
  </head>
  <div class="jumbotron">
		<p class="h2">Manage your news topics</p>
  </div>
  <div class="select-topics-popular-topics-div">
    <div class="new-topic-div-section">
      <p> Enter a topic and add it to the list. Click save when done.</p>
      <a class="lead">New topic</a>
      <span>
        <input type="text" id="topic-to-add" maxlength="30"> 
        <button type="button" class="btn btn-primary" id="add-topic-button">Add</button> 
        <button type="button" class="btn btn-success" id="save-topic-button">Save</button>
        <button class="btn btn-danger" id="btn-clear-button">Clear list</button>
      </span>
      <div class="error-message-display">
        <span>
          <i class="fas fa-exclamation-triangle"></i>
          <p class="error-message-text">Error</p>
        </span>
      </div>
    </div>
    <div class='selected-topics-list'>
      <!-- Enclosure for check boxes that include popular topics ---->
      <% if (topics.length > 0) { %>
        <ul class="list-group ul-topics" id="ul-topics">
          <% topics.forEach((topic, index) => { %>
            <li class="list-group-item button-to-right" data-caption=<%= topic.name %>><%= topic.name %><span class="badge delete-button badge-danger" id=<%= index %>>&times</span></li>
          <% }) %>
        </ul>
      <% } else { %>
        <p class="lead" id="label-no-topics-found">No topics </p>
        <ul class="list-group ul-topics" id="ul-topics"></ul>
      <% } %>
    </div>
    
  </div>
</body>
</html>