@import './globals';
.home-page-master-div-enclosure {
  height: 100%;
  background-color: $mainBGColor;
  padding: 1em;
}
.badge:hover {
  cursor: pointer;
}

.fa-newspaper {
  color: $logoColor;
  font-size: 8rem;
}

.title-text {
  text-align: center;
}

.main-enclosing-login-box {
  margin-left: 10%;
  margin-right: 10%;
}
