
.article-thumbnail {
  width: 200px;
	height: 8em;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.div-strip {
	background-color: #d6dddd;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	box-shadow: 5px 5px darkblue;
	border-radius: 6px;
	display:flex;
	justify-content: space-between;
}

#login-user-on-the-right {

}

#header-top-nav-logout-link {
	margin-right: 5%;
}

.jumbo-tron-margin-top {
	margin-top: 2%;
}