
.article-thumbnail {
  width: 200px;
	height: 8em;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.div-strip {
	background-color: #d6dddd;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	box-shadow: 5px 5px darkblue;
	border-radius: 6px;
	display:flex;
	justify-content: space-between;
}

#header-top-nav-logout-link:hover {
	cursor: pointer;
}

#header-top-nav-logout-link {
	margin-right: 5%;
}

.jumbo-tron-margin-top {
	margin-top: 2%;
}

/* Dropdown Button */
.dropbtn {
  background-color: cadetblue;
  color: white;
  padding: 16px;
  font-size: 16px;
	border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {display: block};
/* Change the background color of the dropdown button when the dropdown content is shown */

#news-header {
	display: flex;
	justify-content: space-between;
}

.error-message {
	color: red;
}
.mobile {
	display: none;
}

@media only screen and (max-width: 700px) {
	.mobile {
		display: inline;
	}

	.article-thumbnail {
		width: 64px;
		height: 64px;
	}

	.article-description-blurb-justify {
		text-align: justify;
		text-justify: inter-character;
	}
	.dropdown {
		display: none;
	}

	.media-body {
		padding: 0.5em;
	}
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
	.mobile {
		display: inline;
	}

	.article-thumbnail {
		width: 160px;
		height: 128px;
	}

	.article-description-blurb-justify {
		text-align: justify;
		text-justify: inter-character;
	}

}
