@import './globals';

body {
  background-color: $mainBackDropColor;
}

.main-enclosing-box {
  background-color: white;
  height: 100vh;
  padding: 1.5em;
}

.invisible-data-tag {
  display: none;
}

.login-headlines-back-link {
  display: none;
}
@media only screen and (min-width: 401px) {
  .main-enclosing-box {
    margin-left: 10%;
    margin-right: 10%;
  }
  .submit-button {
    width: auto;
  }
}
