@import './globals';

body {
  background-color: $mainBackDropColor;
}

.password-reset-fail-message {
  color: $errorMessageColor;
}

.main-enclosing-box {
  background-color: white;
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .main-enclosing-box {
    height: 100%;
    padding: 0.5em;
  }
}

@media only screen and (min-width: 701px) { 
  .main-enclosing-box {
    margin-right: 10%;
    margin-left: 10%;
    padding: 0.5em;
    height: 100%;
  }
}
